/* Colour Scheme */
:root {
    --light: #F7F9FB;
    --primary: #932432;
    --secondary: #A239CA;
    --dark: #0E0B16;
  }
  
  #body-styling {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
    box-sizing: border-box;
  }
  
  .card {
    border: none;
  }
  
  /* header */
  #headerContainer {
    background-color: var(--primary);
  }

  #logo, #freeSearchCont {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /* user Icon */

  #userIcon {
    background-color: var(--light);
    border-radius: 2rem;;
  }