/* #root {
  color: red;
} */

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #261E1D !important; */
  box-sizing: border-box;
}

#logo {
  margin-top: 15px;
}

.free-search-cont {
  padding-top: 20px;
  padding-bottom: 20px;
}



.episode-count {
  margin-bottom: 0;
}

.form {
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem; 
}

.inputField {
  margin: 1rem 2rem 1rem 0;

}

.show-name {
  padding-bottom: 0;
}

.header-show-details {
  font-size: 0.8rem;
  margin-right: 15px;
  color: grey;
}

.show-rating {
  font-size: 0.8rem;
  margin-left: 5px;
  color: grey;
}

.card-header-text-main-page {
  font-size: 1.4rem;
}

.card-body > p, .card-img-top {
  padding-bottom: 1.5rem;
}

/* when not on main page  */
.card-header-text {
  font-size: 1.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

